<configuration>

    <property name="gateway.log.path" value="../logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36}:%L %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RequestFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${gateway.log.path}/request.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${gateway.log.path}/otherdays/request-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]: x:\(%X\) msg:%msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="AccessFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${gateway.log.path}/access.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${gateway.log.path}/otherdays/access-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]: x:\(%X\) msg:%msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="GWFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${gateway.log.path}/gw.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${gateway.log.path}/otherdays/gw-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]: x:\(%X\) %class %L %M - msg:%msg
            </pattern>
        </encoder>
    </appender>

    <logger name="com.hrocloud.apigw.access" level="info" additivity="false">
        <appender-ref ref="AccessFile"/>
        <appender-ref ref="RequestFile"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.hrocloud" level="info" additivity="false">
        <appender-ref ref="GWFile"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="warn">
        <appender-ref ref="GWFile"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>